

.jp-kernelspy-view .jp-kernelspy-toolbar {
  border-bottom: var(--jp-border-width) solid var(--jp-toolbar-border-color);
  padding: 2px;
  min-height: var(--jp-private-notebook-panel-toolbar-height);
  box-shadow: var(--jp-toolbar-box-shadow);
  background: var(--jp-toolbar-background);
  z-index: 1;
}

.jp-kernelspy-messagelog {
  padding: 8px;
  overflow: auto;
  white-space: nowrap;
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
  color: var(--jp-content-font-color1);
  background-color: var(--jp-layout-color0);
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 12px;
  grid-row-gap: 2px;
  align-content: start;
}
